.post {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 20px 0;
}

.message {
	display: flex;
	flex-direction: column;
}

.likes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 16px;
	border-radius: 5px;
	width: 80px;
	margin-top: 10px;
	padding: 0 5px;
	background-color: rgb(221, 183, 212);
}

.numbLikes {
	padding: 5px;
}

.likeButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: #000;
	border-radius: 5px;
}
.likeButton i {
	padding-right: 5px;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.text {
	flex: 1 1 auto;
	min-height: 80px;
	position: relative;
	font-size: 16px;
	background-color: rgb(248, 220, 242);
	border-radius: 10px;
	padding: 15px;
}
.text:before {
	position: absolute;
	content: "";
	top: 10px;
	right: -43px;
	width: 40px;
	height: 40px;
	opacity: 0.7;
	background-color: rgb(248, 220, 242);
	border-radius: 50%;
}
.text:after {
	position: absolute;
	content: "";
	top: 20px;
	right: -77px;
	width: 30px;
	height: 30px;
	opacity: 0.4;
	background-color: rgb(248, 220, 242);
	border-radius: 50%;
}

.image {
	flex: 0 0 80px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 20px 20px 80px;
}

.name {
	background-color: rgb(221, 183, 212);
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
	margin-right: 20px;
}
