.findUserContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.findUserTitle {
	font-size: 30px;
	margin: 15px auto;
	text-transform: uppercase;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.FindUsersButton {
	width: 200px;
	color: #fff;
	background-color: #000;
	padding: 15px 0;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 20px;
}
