.appHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	height: 80px;
	align-self: center;
	grid-area: header;
	background-color: rgb(190, 141, 192);
}

.appHeader img {
	width: 60px;
	height: 60px;
	transition: all 0.6s ease 0.2s;
}
.appHeader img:hover {
	transform: scale(1.1);
	transition: all 0.6s ease 0s;
}

.loginBlock {
}

.loginButton {
	font-size: 20px;
	color: #fff;
	background-color: #000;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 10px;
}

.loginBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.userName {
	font-weight: 700;
	font-size: 26px;
	padding: 5px;
	border-radius: 10px;
	background-color: rgb(245, 193, 247);
	margin-right: 20px;
}

.buttonLogout {
	color: #fff;
	background-color: #000;
	padding: 7px;
	text-transform: uppercase;
	align-self: center;
	border-radius: 10px;
}
