.app-wrapper {
  width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "header header"
    "navigate content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
}
