.app-wrapper {
  width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1.2fr 5fr;
  grid-gap: 20px;
}

.content {
  grid-area: content;
  background-color: rgb(147, 119, 148);
}
